*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/* BODY + ANIMATED BACKGROUND */

body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  padding-top: 90px;

  background: linear-gradient(
    270deg,
    #0f172a,
    #020617,
    #1e293b,
    #020617
  );

  background-size: 600% 600%;
  animation: darkFlow 5s ease infinite;
}

@keyframes darkFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* FIXED GLASS NAVBAR */

.nav {
  position: fixed;
  top: 0;
  left: 150px;
  width: 80%;
  margin: 10px auto;
  display: flex;
align-items: center;
  z-index: 1000;
  padding: 20px 0;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  background: rgba(2, 6, 23, 0.65);
  border-bottom: 1px solid rgba(255,255,255,0.08);
  border-radius: 30px;
}

.nav-container {
  width: 80%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAV LEFT */

.brand h1 {
  font-size: 26px;

  background: linear-gradient(45deg,#f97316,#ec4899,#38bdf8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.footer-bar-left h1 {
  background: linear-gradient(45deg,#f97316,#ec4899,#38bdf8);
  -webkit-background-clip: text;
  color: transparent;
}
/* shared gradient text */




.brand span {
  font-size: 14px;
  color: #94a3b8;
}

/* NAV RIGHT */

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.menu a:hover {
  color: #38bdf8;
}





/* REGISTER BUTTON */

.register {
  padding: 10px 18px;
  border-radius: 8px;
  background: linear-gradient(45deg, #38bdf8, #6366f1);
  font-weight: bold;
}

.register:hover {
  opacity: 0.85;
}

/* HERO */

.hero {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

/* HERO TITLE */

.hero-title {
  font-size: 90px;
  line-height: 1.1;
  letter-spacing: 6px;
}

.hero-title span {
  letter-spacing: 14px;
}

/* YEAR */

.year {
  margin-top: 5px;
  font-size: 22px;
  color: #94a3b8;
}

/* HERO BUTTONS */

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.primary {
  background: linear-gradient(45deg, #38bdf8, #6366f1);
}

.secondary {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

.btn:hover {
  opacity: 0.85;
}

/* COUNTDOWN */

.countdown {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.time-box {
  text-align: center;
  min-width: 110px;
}

.time-box span {
  font-size: 64px;
  font-weight: 800;
  display: block;
  line-height: 1.2;
}

.time-box p {
  margin-top: 8px;
  font-size: 16px;
  letter-spacing: 2px;
  color: #94a3b8;
}

/* STATUS TEXT */

#status {
  margin-top: 50px;
  font-size: 18px;
  color: #38bdf8;
}




/* hero section 2  */

/* HERO SECTION 2 */

.hero-2 {
  width: 80%;
  margin: 120px auto;

  display: flex;
  align-items: center;
  gap: 60px;
}

/* LEFT — VIDEO */

.hero-2-left {
  flex: 1;
}

.hero-2-left video {
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
  box-shadow: 0 20px 60px rgba(0,0,0,0.6);
}

/* RIGHT — TEXT */

.hero-2-right {
  flex: 1;
}

.hero-2-right h4 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #94a3b8;
  margin-bottom: 10px;
}

.hero-2-right h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.hero-2-right h1 span {
  background: linear-gradient(45deg, #a855f7, #38bdf8);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-2-right p {
  font-size: 20px;
  line-height:32.5px ;
  color: #cbd5f5;
}

/* RESPONSIVE */

@media (max-width: 900px) {

  .hero-2 {
    flex-direction: column;
  }

  .hero-2-right h1 {
    font-size: 44px;
  }

}
#video1 {
  height: 500px;     /* change this number */
  width: 80%;
  object-fit: cover; /* prevents stretching */
}

/* BETWEEN SECTION */

.between {
  width: 80%;
  margin: 140px auto;

  text-align: center;
  margin-bottom: 30px;
}

/* top label */

.between h4 {
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #cbd5f5;
}

/* giant title */

.between h1 {
  font-size: 48px;
  margin-bottom: 25px;
  line-height: 48px;
  

}

.between h1 span {
  background: linear-gradient(45deg, #7c3aed, #38bdf8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* subtitle */

.between p {
    margin-top: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
}


.frames {
  width: 100%;
  overflow: hidden;
  margin: 80px 0;
  margin-bottom: 30px;
}

.frames-track {
  display: flex;
  gap: 14px; /* minimal gap */
  width: max-content;

  animation: slideFrames 50s linear infinite;
}

/* frame container */

.frame {
  width: 320px;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}

/* image styling */

.frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* animation */

@keyframes slideFrames {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}





.between2 {
  width: 80%;
  margin: 140px auto;

  text-align: center;
  margin-bottom: 30px;
}

/* top label */

.between2 h4 {
  font-size: 36px;
  letter-spacing: 4px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #cbd5f5;
}

/* giant title */

.between2 h1 {
  font-size: 48px;
  margin-bottom: 25px;
  line-height: 48px;
  

}

.between2 h1 span {
  background: linear-gradient(45deg, #7c3aed, #38bdf8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* subtitle */

.between2 p {
    margin-top: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
}

.special-thanks {
  width: 100%;
  text-align: center;
  margin: 80px 0;
}

.special-thanks h2 {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;

  background: linear-gradient(45deg, #7c3aed, #38bdf8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  line-height:40px;
}







.hero-sec2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
margin-bottom: 20px;
  padding: 60px 8%;
  color: #fff;
}

/* LEFT */
.hero-left {
  flex: 1;
}

.hero-left img {
  width: 100%;
  max-width: 520px;
  border-radius: 20px;
  display: block;
}

/* RIGHT */
.hero-right {
  flex: 1;
}

.hero-right p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.hero-right h4 {
  margin-bottom: 10px;
}

.socials span {
  margin-right: 15px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 900px) {
  .hero-sec2 {
    flex-direction: column;
    text-align: center;
  }

  .hero-left img {
    margin: auto;
  }
}


.sponsor-hero {
  width: 90%;
  margin: 120px auto;
  text-align: center;
}

/* top label */

.sponsor-hero h4 {
  font-size: 18px;
  letter-spacing: 3px;
  color: #cbd5f5;
  margin-bottom: 20px;
}

/* main gradient headline */

.sponsor-hero h1 {
  font-size: 42px;
  line-height: 1.1;
  margin-bottom: 25px;
}

.sponsor-hero h1 span {
  background: linear-gradient(90deg, #7c3aed, #38bdf8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* description */

.sponsor-hero p {
  font-size: 20px;
  color: #94a3b8;
}

/* responsive */

@media (max-width: 900px) {

  .sponsor-hero h1 {
    font-size: 22px;
  }

  .sponsor-hero p {
    font-size: 16px;
  }

}





.frames2 {
  width: 100%;
  overflow: hidden;
  margin: 80px 0;
  margin-bottom: 30px;
}

.frames-track2 {
  display: flex;
  gap: 14px; /* minimal gap */
  width: max-content;

  animation: slideFrames 14s linear infinite;
}

/* frame container */

.frame2 {
  width: 320px;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}

/* image styling */

.frame2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* animation */

@keyframes slideFrames {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}



.faq-hero {
  width: 85%;
  margin: 140px auto;
  text-align: center;
}

/* big gradient title */

.faq-hero h1 {
  font-size: 72px;
  margin-bottom: 15px;

  background: linear-gradient(90deg, #7c3aed, #38bdf8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* subtitle */

.faq-hero h4 {
  font-size: 22px;
  letter-spacing: 2px;
  color: #cbd5f5;
  margin-bottom: 25px;
}

/* paragraph */

.faq-hero p {
  font-size: 20px;
  line-height: 1.6;
  color: #94a3b8;
  max-width: 900px;
  margin: auto;
}

/* responsive */

@media (max-width: 900px) {

  .faq-hero h1 {
    font-size: 44px;
  }

  .faq-hero h4 {
    font-size: 16px;
  }

  .faq-hero p {
    font-size: 16px;
  }

}


.faq {
  width: 80%;
  margin: 80px auto;
}

.faq-item {
  margin-bottom: 16px;
}

.faq-question {
  width: 100%;
  padding: 22px 26px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 20px;
  cursor: pointer;

  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 14px;

  backdrop-filter: blur(6px);
  transition: 0.3s;
}

.faq-question:hover {
  background: rgba(255,255,255,0.08);
}

.faq-question span {
  font-size: 26px;
  transition: transform 0.3s;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;

  padding: 0 26px;
  font-size: 18px;
  color: #cbd5f5;

  transition: max-height 0.4s ease;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 18px 26px;
}

.faq-item.active .faq-question span {
  transform: rotate(45deg);
}







.footer {
  width: 95%;
  margin: 80px auto;
  padding: 50px;

  display: flex;
  justify-content: space-between;
  gap: 60px;

  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 28px;

  backdrop-filter: blur(8px);
}

/* LEFT */

.footer-left {
  flex: 1;
}

.logo {
  font-size: 36px;
  margin-bottom: 30px;

  background: linear-gradient(45deg,#7c3aed,#38bdf8);
  -webkit-background-clip: text;
  color: transparent;
}

.logo span {
  font-size: 22px;
}

.social-icons {
  display: flex;
  gap: 14px;
}

.social-icons a {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  text-decoration: none;

  background: rgba(255,255,255,0.08);
  transition: 0.3s;
}

.social-icons a:hover {
  background: rgba(255,255,255,0.18);
}

/* CENTER */

.footer-center {
  flex: 1;
  display: flex;
  gap: 60px;
}

.footer-center p {
  margin-bottom: 12px;
  color: #cbd5f5;
  cursor: pointer;
}

/* RIGHT */

.footer-right {
  flex: 1;
}

.footer-right p {
  margin-bottom: 14px;
  color: #cbd5f5;
}

.email {
  text-decoration: underline;
}

/* RESPONSIVE */

@media (max-width: 900px) {

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-center {
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }
}





.footer-bar {
  width: 95%;
  margin: 40px auto 80px;

  padding-top: 25px;
  border-top: 1px solid rgba(255,255,255,0.08);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* LEFT */

.footer-bar-left h1 {
  font-size: 42px;
  margin-bottom: 6px;

  background: linear-gradient(45deg,#f97316,#ec4899,#38bdf8);
  -webkit-background-clip: text;
  color: transparent;
}

.footer-bar-left p {
  font-size: 14px;
  letter-spacing: 2px;
  color: #64748b;
}

/* RIGHT */

.footer-bar-right p {
  font-size: 14px;
  color: #64748b;
}

/* responsive */

@media (max-width: 900px) {

  .footer-bar {
    flex-direction: column;
    text-align: center;
  }

}
